@import "selenized.css";
/* @import "frappe.css"; */

* {
  font-size: 13px;
  font-family: Hack Nerd Font;
}

window#waybar {
  background: transparent;
  color: @text;
}


#clock,
#wireplumber,
#pulseaudio,
#memory,
#custom-vpn,
#network,
#temperature,
#cpu,
#battery,
#disk,
#gpu,
#tray {
  background: @crust;
  /* background: @base; */
  /* background: transparent; */
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 0rem;
  margin: 5px 10px;
  padding: 0rem 1rem;
}

#tray menu {
  background-color: @crustopaque;
  color: @text;
}

#tray menu menuitem:hover {
  background-color: @surface0opaque;
  color: @text;
}

tooltip {
  background: @base;
  color: @text;
  font-size: 22px;
  font-family: Hack Nerd Font;
}

#workspaces {
  background: transparent;
  border-radius: 1rem;
  margin: 5px 5px;
  padding: 0rem 0rem;
}

#workspaces button {
  padding: 0 4px;
  color: @blue;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.special {
  color: @mauve;
}

#workspaces button.empty {
  color: @subtext1;
}

#wireplumber,
#pulseaudio {
  color: #268bd2;
  border-radius: 1rem 0 0 1rem;
}

#memory {
  color: @mauve;
}

#cpu {
  color: @blue;
  border-radius: 0rem 0 0 0rem;
}


#temperature {
  color: @peach;
}

#temperature.critical {
  color: @red;
}

#battery {
  color: #859900;
}

#custom-vpn {
  color: @blue;
  border-radius: 0 1rem 1rem 1;
}

#network {
  color: @sky;
  border-radius: 0 0rem 0rem 0;
}

#network.disabled,
#network.disconnected {
  color: @red;
}

#disk {
  color: @green;
}

#gpu {
  color: @red;
}

#clock {
  border-radius: 1rem;
}

#tray,
#clock,
#wireplumber,
#pulseaudio,
#memory,
#cpu,
#temperature,
#custom-vpn,
#network,
#battery,
#disk,
#gpu {
  background-color: @crustopaque;
  padding: 0 1rem;
  margin: 5px 0;
}

#tray {
  background: transparent;
  border-radius: 1rem;
}
